.modal {
	text-align: center;
	top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
	height: 50%;
  width: 100%;
}

.modal-body {
  color:#FF8115;
  font-size: 15px;
	overflow: auto;
}
.modal-header {
  color: #153D67;
  font-size: 20px;
	overflow: auto;
}

#button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #153D67;
	padding:25px 40px;
	font-size: 20px;
}

label.control-label, .selectize-control.single{
	color: #FF8115;
	font-size:20px;
}

img {
	width: 250px;
	height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
